body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #111;
}

main {
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  margin-right: 25vw;
  height: 20vh;
}

.star {
  font-size: 100px;
  cursor: pointer;
}

aside {
  color: gold;
  height: 60vh;
}

.star-history {
  font-size: 20px;
}

.star-history-item {
  display: flex;
  width: 400px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}